@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
main {
  max-width: 1360px;
  margin: 50px auto;
  padding: 0 36px;
}
main #home {
  display: flex;
  flex-wrap: wrap;
}
main #home .home-text p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  padding: 45px 15px;
}
main #home .home-text p span {
  background: #f7f7f7 !important;
  border-radius: 10px;
  width: 46px !important;
  height: 56px !important;
  padding: 0 7px;
}
main #home .home-text .second-text {
  font-family: "Roboto", sans-serif;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 26px !important;
  color: #000000;
  padding: 0;
  padding-left: 15px !important;
}
main #home .home-text h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  padding-right: 100px;
  padding: 20px 0;
  padding-left: 15px !important;
}
main #home .home-text .home-clock {
  display: none;
}

@media (max-width: 1245px) {
  main {
    padding: 0 12px;
  }
  main #home .home-text p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    padding: 0;
    padding-left: 18px;
  }
  main #home .home-text p span {
    background: #f7f7f7 !important;
    border-radius: 10px;
    width: 46px !important;
    height: 56px !important;
  }
  main #home .home-text .second-text {
    font-family: "Roboto", sans-serif;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 26px !important;
    color: #000000;
    padding: 0;
  }
  main #home .home-text h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    padding-right: 100px;
    padding: 20px 0;
  }
  main #home .home-text .home-clock {
    display: block;
  }
  main #home .home-img {
    display: none;
  }
}
@media (max-width: 576px) {
  main {
    padding: 0;
    margin: 12px auto;
  }
  main #home .home-text p {
    font-size: 14px !important;
  }
  main #home .home-text p span {
    background: #f7f7f7 !important;
    border-radius: 10px;
    width: 46px !important;
    height: 56px !important;
  }
  main #home .home-text .second-text {
    font-size: 14px !important;
  }
  main #home .home-text h1 {
    font-size: 20px;
  }
  main #home .home-text .home-clock {
    display: block;
    width: 271px !important;
    height: 271px !important;
    padding: 0;
    margin: 0;
  }
  main #home .home-img {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none !important;
}

header {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4 !important;
}
header nav {
  position: relative;
  z-index: 2;
}
header .header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
header .header-container .header-logo img {
  width: 277.33px;
  height: 41px;
}
header .header-container .nav-link {
  height: 100%;
}
header .header-container .nav-link ul {
  height: 100%;
}
header .header-container .nav-link ul .products {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2F424E;
  list-style: none;
  cursor: pointer;
}
header .header-container .nav-link ul .products .drop-down img {
  width: 9px;
  height: 8px;
  margin-left: 8px;
}
header .header-container .nav-link ul .products .drop-down-item-header {
  width: 390px;
  height: auto;
  position: absolute;
  left: 0;
  top: 65px;
  z-index: 5;
  border-radius: 10px;
  background: white;
}
header .header-container .nav-link ul .products .drop-down-item-header .category-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  width: 100%;
  transform: translateY(0);
  border-radius: 10px;
  overflow: hidden;
}
header .header-container .nav-link ul .products .drop-down-item-header .category-header a {
  color: black;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header {
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header {
  background: #f5f5f5;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_title-header {
  margin-bottom: 20px;
  padding: 0 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_title-header h1 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #005BBF;
  padding-top: 20px;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header {
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_link-header-in {
  padding: 0 40px;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_link-header-in:hover {
  background: #e5e5e5;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item_header {
  cursor: pointer;
  margin: 8px 0;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2F424E;
  padding: 0;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item_header .category_item_img {
  transition: all 0.5s ease;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item_header .category_item_img path {
  transition: all 0.5s ease;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item_header .other {
  width: 20px !important;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item_header span {
  transition: all 0.5s ease;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item_header span .down_img {
  transition: all 0.5s ease;
  margin-left: 13px;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .active {
  transition: all 0.5s ease;
  background: transparent;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_left {
  margin-left: 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover {
  background: transparent;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover .category_item_img path {
  stroke: #005BBF;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover .category_item_img path {
  fill: #005BBF;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover .category_svg path {
  stroke: #005BBF;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover .category_svg path {
  fill: #fff;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover span {
  color: #005BBF;
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover span .down_img {
  transform: rotate(180deg);
}
header .header-container .nav-link ul .products .drop-down-item-header .category_wrapper-header .category_in-header .category_link-header .category_item-header:hover span .down_img path {
  fill: #005BBF;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header {
  width: 290px;
  position: absolute;
  top: 0;
  left: -73%;
  border-radius: 10px;
  background-color: #f5f5f5;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag-button {
  width: 40px;
  height: 40px;
  background: #f6f4f4;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag-button img {
  height: 11px;
  margin-left: 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .text img {
  width: 25.7px;
  height: 19.7px;
  margin-left: 13px;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #005BBF;
  margin-left: 13px;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag_item {
  white-space: nowrap;
  width: 120px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 1px 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag_item:hover {
  background: #e5e5e5 !important;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag_item img {
  width: 30px;
  height: 17px;
  margin-right: 10px;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag_item p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F424E;
  margin-top: 5px;
  margin-bottom: 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag_item h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #2F424E;
  margin-bottom: 0;
}
header .header-container .nav-link ul .products .drop-down-item-header .flag-header .flag_in-header .flag_item:hover {
  background-color: #fff;
}
header .header-container .nav-link ul .sale {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2F424E;
  list-style: none;
  margin-left: 29px;
}
header .header-container .nav-link ul .sale-img {
  width: 56px;
  height: 96px;
  background-image: url("../images/flag.png");
  background-size: cover;
  margin-left: 29px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}
header .header-container .nav-link ul .sale-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
header .header-container .nav-link ul .faq {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2F424E;
  list-style: none;
  margin-left: 49px;
}
header .header-container .nav-link ul .support {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2F424E;
  list-style: none;
  margin-left: 50px;
}
header .header-container .header-buttons button {
  width: 50px;
  height: 50px;
  background: rgba(47, 66, 78, 0.05);
  border-radius: 15px;
}
header .header-container .header-buttons button .search {
  width: 18.7px;
  height: 19.2px;
}
header .header-container .header-buttons button .buy {
  width: 12.3px;
  height: 15.5px;
}
header .header-container .header-buttons button .lang {
  width: 18px;
  height: 18px;
}
header .header-container .header-buttons button .burger {
  width: 18px;
  height: 18px;
}
header .header-container .header-buttons button .exit {
  width: 14px !important;
  height: 14px !important;
}
header .header-container .header-buttons .buy-button {
  margin-left: 10px;
  position: relative;
  background: #005BBF;
}
header .header-container .header-buttons .buy-button span {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E74C3C;
  border: 1px solid #FFFFFF;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}
header .header-container .header-buttons .all-card {
  background: rgba(47, 66, 78, 0.05);
  border: 1px solid red;
}
header .header-container .header-buttons .lang-button {
  margin-left: 10px;
  z-index: 2;
}
header .header-container .header-buttons .lang-button .lang-menu {
  width: 200px;
  position: absolute;
  z-index: -1 !important;
  height: 0;
  top: 75px;
  right: 0;
  background: #f5f5f5;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s ease all;
  overflow: hidden;
  padding: 0;
}
header .header-container .header-buttons .lang-button .lang-menu div {
  padding: 10px 20px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  transition: 0.5s ease all;
}
header .header-container .header-buttons .lang-button .lang-menu div img {
  width: 18px;
  height: 18px;
}
header .header-container .header-buttons .lang-button .lang-menu div span {
  margin-left: 20px;
}
header .header-container .header-buttons .lang-button .lang-menu div:hover {
  background: #e5e5e5;
}
header .header-container .header-buttons .lang-button .lang-menu .active {
  background: #e5e5e5;
}
header .header-container .header-buttons .lang-button .lang_menu_active {
  height: auto;
  padding: 20px 0;
}
header .header-container .header-buttons .burger-menu-button {
  margin-left: 10px;
}

.mobile-menu {
  padding-top: 100px;
  height: 101%;
  bottom: 0;
  z-index: 3;
  top: -100%;
  transition: 0.8s ease all;
  background: #f5f5f5;
}
.mobile-menu .main {
  width: 100%;
  padding: 20px 40px;
}
.mobile-menu .main ul li:hover {
  background: #e5e5e5;
}
.mobile-menu .main .hovered {
  padding: 10px !important;
}
.mobile-menu .main .hovered:hover {
  background: #e5e5e5 !important;
  cursor: pointer;
}

.mobile-menu-active {
  top: 0;
}

#menu-category {
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  left: -100%;
  transition: 0.5s ease all;
}
#menu-category .container {
  left: 0;
  position: absolute;
  background: #f5f5f5;
  height: 100%;
  max-width: 375px;
  padding-top: 13px;
  padding-bottom: 13px;
}
#menu-category .container .menu-category-close-btn {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: #E8E8E8;
  opacity: 0.5;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#menu-category .container .menu-category-close-btn img {
  width: 9px;
  height: 9px;
}
#menu-category .content-header {
  margin-bottom: 40px;
}
#menu-category .content-header span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #005BBF;
}
#menu-category .content-header span img {
  height: 19px;
  margin: 0 14px;
}
#menu-category .content-body {
  height: 500px;
}
#menu-category .content-body .content-card {
  height: 500px;
  overflow-y: scroll;
}
#menu-category .content-body .content-card .card-item {
  padding: 19px 10px;
}
#menu-category .content-body .content-card .card-item:hover {
  background: white;
}
#menu-category .content-body .content-card .card-item img {
  height: 47px;
}
#menu-category .content-body .content-card .card-item .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F424E;
  height: 41px;
  padding-left: 10px;
  padding-top: 8px;
}
#menu-category .content-body .content-card .card-item .text span {
  font-weight: 700;
  font-size: 16px;
}
#menu-category .content-body .content-card .card-item::-webkit-scrollbar {
  background: #e5e5e5;
}
#menu-category .menu-category-close-btn {
  cursor: pointer;
}

.menu-category-active {
  left: 0 !important;
}

#shop-modal {
  z-index: 1;
}
#shop-modal .main {
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}
#shop-modal button {
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
}
#shop-modal .shop-content {
  background: #f5f5f5;
  padding: 0 15px 24px;
  width: 300px;
  border-radius: 20px;
  top: -600px;
  right: -12px;
  transition: 0.8s ease all;
}
#shop-modal .shop-content .content-title {
  margin-top: 154px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #005bbf;
  margin-bottom: 10px;
}
#shop-modal .shop-content .cards {
  border-bottom: 1px solid #ccc;
  padding: 14px 0 17px;
}
#shop-modal .shop-content .cards .card-img {
  width: 68px;
  height: 60px;
  background: #0c142a;
  display: inline-block;
  color: white;
}
#shop-modal .shop-content .cards .card-img .playstation-img {
  position: absolute;
  top: 5px;
  left: 5px;
}
#shop-modal .shop-content .cards .card-img .playstation-img img {
  width: 7px;
  height: 8px;
}
#shop-modal .shop-content .cards .card-img .playstation-img span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 4px;
  padding-left: 4px;
}
#shop-modal .shop-content .cards .card-img .playstation-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#shop-modal .shop-content .cards .card-img .playstation-title span {
  font-size: 3px;
}
#shop-modal .shop-content .cards .card-img .finland {
  width: 8px;
  height: 5px;
  position: absolute;
  bottom: 7px;
  right: 5px;
}
#shop-modal .shop-content .cards .title {
  width: 136px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
#shop-modal .shop-content .cards .title .country {
  font-weight: 300;
  margin-top: 2px;
}
#shop-modal .shop-content .cards .delete {
  transform: translateY(-30%);
}
#shop-modal .shop-content .cards .price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-top: 9px;
}
#shop-modal .shop-content .cards .price .discount {
  font-weight: 300;
  text-decoration: line-through !important;
}
#shop-modal .shop-content .cards .count button {
  border: 1px solid #2f424e;
  border-radius: 7px;
  width: 25px;
  height: 25px;
  position: relative;
}
#shop-modal .shop-content .cards .count button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#shop-modal .shop-content .result {
  margin-top: 15px;
}
#shop-modal .shop-content .result .total {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
#shop-modal .shop-content .result .euro {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#shop-modal .shop-content .checout a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #2AB199;
  border-radius: 50px;
  width: 100%;
  padding: 14px 0 15px;
  display: inline-block;
  margin: 37px 0 24px;
}
#shop-modal .shop-content .clr {
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

#shop-modal .active-modal {
  top: -29px;
}

.transfers {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
  height: 150px;
  overflow-x: hidden;
}
.transfers .transfers_in {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.transfers .transfers_in::-webkit-scrollbar {
  display: none;
}
.transfers .transfers_in div {
  padding: 36px 15px;
}
.transfers .transfers_in div:nth-child(1) {
  padding-left: 0 !important;
}
.transfers .transfers_in div img {
  width: 168px;
  height: 67px;
}

.footer_top {
  background: #005bbf;
}
.footer_top .footer_top_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px;
}
.footer_top .footer_top_wrapper .footer_top_item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footer_top .footer_top_wrapper .footer_top_item img {
  margin-right: 22px;
}
.footer_top .footer_top_wrapper .footer_top_item .footer_top_item_title h3 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}
.footer_top .footer_top_wrapper .footer_top_item .footer_top_item_title p {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

footer {
  background-color: #302f34;
}
footer .footer_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 55px 40px;
}
footer .footer_wrapper .footer_logo {
  margin-bottom: 40px;
}
footer .footer_wrapper .footer_link {
  padding: 0;
}
footer .footer_wrapper .footer_link .footer_item {
  list-style-type: none;
}
footer .footer_wrapper .footer_link .footer_item a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: #ffffff;
}
footer .footer_wrapper .footer_address .footer_registration h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
footer .footer_wrapper .footer_address .footer_registration p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}
footer .footer_wrapper .footer_address .footer_company h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
footer .footer_wrapper .footer_address .footer_company p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

@media (max-width: 1245px) {
  .transfers {
    max-width: 1360px;
    padding: 0 13px;
    height: 150px;
    overflow-x: hidden;
    margin: 0 !important;
  }
  .transfers .transfers_in {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .transfers .transfers_in::-webkit-scrollbar {
    display: none;
  }
  .transfers .transfers_in div {
    padding: 36px 15px;
  }
  .transfers .transfers_in div:nth-child(1) {
    padding-left: 0 !important;
  }
  .transfers .transfers_in div img {
    width: 168px;
    height: 67px;
  }
}
@media (max-width: 1000px) {
  header {
    position: relative;
    z-index: 2;
  }
  header .header-container .nav-link {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 6;
    transition: 0.5s;
  }
  header .header-container .nav-link .exit-menu {
    width: 50px;
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #000000;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 200;
  }
  header .header-container .nav-link ul {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  header .header-container .nav-link ul .sale {
    margin-left: 0;
  }
  header .header-container .nav-link ul .faq {
    margin-left: 0;
  }
  header .header-container .nav-link ul .support {
    margin-left: 0;
  }
  header .header-container .nav-link .products .drop-down-item {
    left: -100% !important;
  }
  header .header-container .header-buttons button {
    width: 50px;
    height: 50px;
    background: rgba(47, 66, 78, 0.05);
    border-radius: 15px;
  }
  header .header-container .header-buttons button .lang {
    width: 18px;
    height: 18px;
  }
  header .header-container .header-buttons .buy-button {
    margin-left: 10px;
  }
  header .header-container .header-buttons .lang-button {
    margin-left: 10px;
    display: none;
  }
  header .header-container .header-buttons .burger-menu-button {
    margin-left: 10px;
    display: block !important;
  }
  .mobile_menu {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .mobile-menu {
    display: none !important;
  }
  #menu-category {
    display: none !important;
  }
}
@media (max-width: 750px) {
  header .header-container {
    padding: 0 20px;
  }
}
@media (max-width: 650px) {
  .transfers {
    padding: 0 13px;
    height: 70px;
    overflow-x: hidden;
  }
  .transfers .transfers_in {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .transfers .transfers_in::-webkit-scrollbar {
    display: none;
  }
  .transfers .transfers_in div {
    padding: 17px 7px;
  }
  .transfers .transfers_in div:nth-child(1) {
    padding-left: 0 !important;
  }
  .transfers .transfers_in div img {
    width: 80px;
    height: 32px;
  }
  hr {
    display: none !important;
  }
}
@media (max-width: 576px) {
  header {
    height: 65px;
  }
  header .header-container .header-logo img {
    width: 135.28px;
    height: 20px;
  }
  header .header-container .header-buttons button {
    width: 40px;
    height: 40px;
  }
  header .header-container .header-buttons button .search {
    width: 12.5px;
    height: 12.8px;
  }
  header .header-container .header-buttons button .buy {
    width: 11px;
    height: 14px;
  }
  header .header-container .header-buttons .buy-button {
    margin-left: 5px;
  }
  header .header-container .header-buttons .lang-button {
    margin-left: 5px;
  }
  header .header-container .header-buttons .burger-menu-button {
    margin-left: 5px;
  }
  .mobile_menu {
    position: fixed;
    height: 100%;
  }
  .mobile_menu .lang {
    padding: 0;
  }
  .mobile_menu_active {
    top: 65px;
  }
  #shop-modal .main {
    width: 100%;
    padding: 0;
    left: 0;
  }
  #shop-modal .main .shop-content {
    left: 0;
    right: 0;
    width: 100%;
  }
  #shop-modal .main .shop-content .content-title {
    margin-top: 108px;
  }
  .transfers {
    padding: 0 13px;
    height: 70px;
    overflow-x: hidden;
  }
  .transfers .transfers_in {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .transfers .transfers_in::-webkit-scrollbar {
    display: none;
  }
  .transfers .transfers_in div {
    padding: 17px 7px;
  }
  .transfers .transfers_in div:nth-child(1) {
    padding-left: 0 !important;
  }
  .transfers .transfers_in div img {
    width: 80px;
    height: 32px;
  }
}
@media (max-width: 440px) {
  .footer_top .footer_top_wrapper {
    padding: 0px 12px !important;
  }
  footer .footer_wrapper {
    padding: 0px 12px !important;
    padding-top: 45px !important;
  }
}/*# sourceMappingURL=waitOrder.css.map */